<div class='container'>
  <p id="notice"><%= notice %></p>

  <h1><%= I18n.t("menus.clientList") %></h1>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= I18n.t("activerecord.attributes.client.compname") %></th>
        <th><%= I18n.t("activerecord.attributes.client.address") %></th>
        <th><%= I18n.t("activerecord.attributes.client.phone") %></th>

        <th colspan="3"><%=I18n.t("menus.options")%></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.compname %></td>
          <td><%= client.address %></td>
          <td><%= client.phone %></td>
          <td align="center"><button class="btn btn-default btn-xs" type="button"><%= link_to I18n.t("links.show"), client %></button> 
          <button type="button" class="btn btn-default btn-xs"><%= link_to I18n.t("links.edit"), edit_client_path(client) %></button> 
          <button class="btn btn-default btn-xs" type="button"><%= link_to I18n.t("links.destroy"), client, method: :delete, data: { confirm: I18n.t("links.confirm") } %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <button class="btn btn-default" type="button"><%= link_to I18n.t("links.newClient"), new_client_path %></button>
</div>